@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Me!";
}

    <h1 class="title">Ali Smith</h1>
    <br />
    <img id="pic" src="img/me.JPG" class="center" />
    <br />

    <!-- Goals Paragraph -->
    <p class="text">
        I hope to be able to learn and become proficient in ASP.NET.<br />
        I would also really like to become a better debugger and build a toolkit of skills I can use for the future.<br /> I hope this
        framework will build on the foundation of programming knowledge I currently have and will aid me in learning future languages and frameworks.<br />
        I also would like to get a good grade so I can have more confidence in my chances of getting into the MISM.
    </p>

    <!-- List of Careers -->
    <h3 class="title">Career Options</h3>
    <div class="text">
        <ul>
            <li>Web Developer</li>
            <li>Software Developer</li>
            <li>UX/UI Designer</li>
        </ul>
    </div>
    <br />

